server:
  port: 8080

spring:
  application:
    name: chat-service

#Config MongoDB
data:
  mongodb:
    uri: mongodb://${MONGO_HOST:localhost}:27017/chat_db
    auto-index-creation: true

#Config RabbitMq
rabbitmq:
  host: ${RABBIT_HOST:localhost}
  port: 5672
  username: guest
  password: guest

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}