version: '3.8'

services:
  # -----------------------------
  # 1. BASE DE DONNÉES (MySQL)
  # -----------------------------
  mysqldb:
    image: mysql:8.0
    container_name: spotlight-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spotlight_offres_db 
    ports:
      - "3307:3306" 
    volumes:
      - db_data:/var/lib/mysql
    # --- NOYAU DE LA SOLUTION ---
    # On vérifie toutes les 5 secondes si MySQL répond
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # -----------------------------
  # 2. MICROSERVICE OFFRES & PRESTATIONS
  # -----------------------------
  service-offres:
    build: ./offerandprestation 
    container_name: ms-offres
    ports:
      - "8091:8091"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/spotlight_offres_db?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      EUREKA_CLIENT_ENABLED: "false"
      SPRING_CLOUD_CONFIG_ENABLED: "false"
    volumes:
      - ./offerandprestation/uploads-spotlight:/app/uploads-spotlight
    # --- NOYAU DE LA SOLUTION ---
    # On attend que MySQL soit "Healthy" (prêt) avant de lancer Java
    depends_on:
      mysqldb:
        condition: service_healthy

volumes:
  db_data: