apiVersion: v1
kind: Service
metadata:
  name: signal-moder-service
  namespace: microservices
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: 8084
  selector:
    app: signal-moder-service