apiVersion: v1
kind: Service
metadata:
  name: catalogue-prestation-service
  namespace: microservices
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8000
  selector:
    app: catalogue-prestation-service