apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service
  template:
    metadata:
      labels:
        app: config-service
    spec:
      containers:
        - name: config-service
        # on va mettre l'image de notre service config plutard
          image: emilekmddev/spotlight:config-service
          ports:
            - containerPort: 8888
          env:
            - name: SPRING_APPLICATION_NAME
              value: "service-config"
            - name: SPRING_CLOUD_CONFIG_SERVER_GIT_URI
              value: "https://github.com/M1-Gl-UY1/config-repo-spotlight.git"
            - name: SPRING_CLOUD_CONFIG_SERVER_GIT_SEARCH_PATHS
              value: "cloud.config"