# --- Frameworks principaux ---
Django==4.2.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-filter==23.5

# --- Base de données ---
mysqlclient==2.2.7

# --- Microservices ---
py-eureka-client==0.11.2

# --- Utilitaires et Environnement ---
requests==2.31.0
python-decouple==3.8
python-dotenv>=1.0.0

# --- Intelligence Artificielle (Client API uniquement) ---
# J'ai mis à jour la version pour qu'elle marche avec ton code
openai>=1.0.0

# --- Documentation ---
drf-yasg>=1.21.7